/******************************************************************************************/
/*                                                                                        */
/*  JBB5    7BBJ   JBBBBBBBBB   GBBBBBBBP?        JG###B5!     JBBBBBBBBB   JBB5    7BBJ  */
/*  5@@@B!  J@@5   5@@GJJJJJJ   &@@YYYYP@@B     J&@#5JJG@@G    5@@GJJJJJJ   5@@@B!  J@@5  */
/*  5@@&@@J J@@5   5@@5         &@&     #@@!   ?@@B     5##7   5@@5         5@@&@@J J@@5  */
/*  5@@YJ@@5Y@@5   5@@&####&P   &@@####&@&Y    5@@!            5@@&####&P   5@@YJ@@5Y@@5  */
/*  5@@J 7#@@@@5   5@@J         &@&J????!      7@@B     5@@5   5@@J         5@@J 7#@@@@5  */
/*  5@@Y   G@@@5   5@@B55555P   &@&             ?#@&PY5B@@G    5@@B55555P   5@@Y   G@@@5  */
/*  ?GG7    YPG?   ?GPGGGGGGG   PP5               75GBBGY!     ?GPGGGGGGG   ?GG7    YPG?  */
/*                                                                                        */
/*  style.css                                                                             */
/*                                                                                        */
/*  By: Nepcen yusufabacik@gmail.com                                                      */
/*  Created: 28/06/2023 14:18:15                                                          */
/*                                                                                        */
/******************************************************************************************/

:root {
  --form-control-color: #fff;
  --form-control-disabled: #959495;
}

body {
  width: 250px;
  margin: 0;
  padding: 15px 10px;
  background-color: #00a67e;
  border: 3px solid white;
  text-align: center;
  color: white;
}

#widthSlider {
  width: 100%;
}

#title {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px solid white;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.el {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0;
  width: 100%;
  font-size: 18px;
}

.el > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  width: 100%;
}

#widthSliderValueLabel {
  width: 40px;
  font-size: 16px;
}

#widthSlider {
  height: 32px;
  -webkit-appearance: none;
  width: 205px;
  background-color: #00a67e;
}

#widthSlider:focus {
  outline: none;
}

#widthSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #017a5e;
  border-radius: 25px;
}

#widthSlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

#widthSlider:focus::-webkit-slider-runnable-track {
  background: #017a5e;
}

#widthSlider::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #017a5e;
  border-radius: 25px;
}

#widthSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: #dadada;
  cursor: pointer;
}

#widthSlider::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#widthSlider::-ms-fill-lower {
  background: #017a5e;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

#widthSlider::-ms-fill-upper {
  background: #017a5e;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

#widthSlider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: #dadada;
  cursor: pointer;
}

#widthSlider:focus::-ms-fill-lower {
  background: #017a5e;
}

#widthSlider:focus::-ms-fill-upper {
  background: #017a5e;
}

#includePromptBar{
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

footer a {
  font-size: 26px;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}

footer a:last-child {
  border-right: 0;
  padding-right: 0;
}

.bottomLabel {
  font-size: 20px;
  color: white;
  margin-top: 8px;
}
