/******************************************************************************************/
/*                                                                                        */
/*  JBB5    7BBJ   JBBBBBBBBB   GBBBBBBBP?        JG###B5!     JBBBBBBBBB   JBB5    7BBJ  */
/*  5@@@B!  J@@5   5@@GJJJJJJ   &@@YYYYP@@B     J&@#5JJG@@G    5@@GJJJJJJ   5@@@B!  J@@5  */
/*  5@@&@@J J@@5   5@@5         &@&     #@@!   ?@@B     5##7   5@@5         5@@&@@J J@@5  */
/*  5@@YJ@@5Y@@5   5@@&####&P   &@@####&@&Y    5@@!            5@@&####&P   5@@YJ@@5Y@@5  */
/*  5@@J 7#@@@@5   5@@J         &@&J????!      7@@B     5@@5   5@@J         5@@J 7#@@@@5  */
/*  5@@Y   G@@@5   5@@B55555P   &@&             ?#@&PY5B@@G    5@@B55555P   5@@Y   G@@@5  */
/*  ?GG7    YPG?   ?GPGGGGGGG   PP5               75GBBGY!     ?GPGGGGGGG   ?GG7    YPG?  */
/*                                                                                        */
/*  style.css                                                                             */
/*                                                                                        */
/*  By: Nepcen yusufabacik@gmail.com                                                      */
/*  Created: 28/06/2023 14:18:15                                                          */
/*                                                                                        */
/******************************************************************************************/

:root {
  --primary: #171717;
  --secondary: #0d0d0d;
  --white: rgb(199, 199, 199);
  --halfWhite: rgba(255, 255, 255, 0.5);
  --gray: #2f2f2f;
  --black: #0d0d0d;

  --form-control-color: #fff;
  --form-control-disabled: #959495;
}

body {
  width: 250px;
  margin: 0;
  padding: 15px 10px;
  background-color: var(--primary);
  border: 3px solid var(--gray);
  text-align: center;
  color: var(--white);
}

#widthSlider {
  width: 100%;
}

#title {
  display: inline-block;
  color: var(--white);
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px solid var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.el {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0;
  width: 100%;
  font-size: 18px;
}

.el > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.el div:has(#resetBtn) {
  justify-content: end;
}

.el > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
  width: 100%;
  margin-right: 5px;
}

.el > div > div .alignment {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.15em solid transparent;
  border-radius: 5px;
  padding: 4px;
  color: var(--white);
}

.el > div > div .alignment.checked {
  border: 0.15em solid var(--white);
}

#widthSliderValueLabel {
  width: 40px;
  font-size: 16px;
}

#widthSlider {
  height: 32px;
  appearance: none;
  -webkit-appearance: none;
  width: 205px;
  background-color: var(--primary);
}

#widthSlider:focus {
  outline: none;
}

#widthSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--black);
  background: var(--secondary);
  border-radius: 25px;
}

#widthSlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--gray);
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: var(--white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

#widthSlider:focus::-webkit-slider-runnable-track {
  background: var(--secondary);
}

#widthSlider::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--black);
  background: var(--secondary);
  border-radius: 25px;
}

#widthSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--gray);
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: var(--white);
  cursor: pointer;
}

#widthSlider::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#widthSlider::-ms-fill-lower {
  background: var(--secondary);
  border-radius: 50px;
  box-shadow: 0px 0px 0px var(--black);
}

#widthSlider::-ms-fill-upper {
  background: var(--secondary);
  border-radius: 50px;
  box-shadow: 0px 0px 0px var(--black);
}

#widthSlider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px var(--gray);
  height: 24px;
  width: 35px;
  border-radius: 25px;
  background: var(--white);
  cursor: pointer;
}

#widthSlider:focus::-ms-fill-lower {
  background: var(--secondary);
}

#widthSlider:focus::-ms-fill-upper {
  background: var(--secondary);
}

#includePromptBar {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

#resetBtn {
  background-color: var(--white);
  outline: none;
  border: 2px solid var(--primary);
  box-shadow: inset 1em 1em var(--form-control-color);
  border-radius: 5px;
  padding: 3px 5px;
  color: var(--primary);
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer a {
  font-size: 26px;
  color: var(--white);
  border-right: 1px solid var(--halfWhite);
  padding-right: 10px;
  text-decoration: none;
}

footer a:last-child {
  border-right: 0;
  padding-right: 0;
}

.bottomLabel {
  font-size: 20px;
  line-height: 50px;
  user-select: none;
}
